:root {
    --darkblue-clr : #081A51;
    --lightblue-clr: #017EFA;
}

/* card stylings */
.card {
    box-shadow: 1px 1px 1px;
    background-color: white;
    border: 1px solid grey;
    width: 550px;
    margin-top: 20px;
    border-radius: 5px;
    aspect-ratio: 1.5;
}
.avatar {
    border-radius: 50%;
    font-size: 1.8em;
    color: lightgray;
    background-color: var(--darkblue-clr);
    display: grid;
    place-items: center;
    padding: 2px;
}
.card-header-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 99%;
    place-items: center;
    padding-top: 5px;
    transform: translateX(-10px);
}
.badge {
    color: var(--darkblue-clr);
    font-size: 1.8em;
}
.badge:nth-of-type(3) {
    margin-right: 1.2em;
}
p {
    font-size: 0.75em;
}
.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.status-p {
    color: var(--darkblue-clr);
}
hr {
    width: 550px;
    position: absolute;
    top: 75px;
}
.card-header h1 {
    font-size: 1.2rem;
    width: 8em;
}
.card-header button {
    background-color: var(--lightblue-clr);
    border-style: none;
    border-radius: 5px;
    height: fit-content;
    width: 5rem;
    margin-right: 7px;
}
.inner-card-ps p {
    color: var(--darkblue-clr);
    font-size: 1em;
    margin-top: 10px;
}
.inner-card-btn {
    background-color: var(--lightblue-clr);
    border: 1px solid var(--lightblue-clr);
    position: absolute;
    overflow: visible;
    transform: translateY(-41px);
}
.inner-card-btn-one {
    border-radius: 10px 0 0 0;
}
.inner-card-btn-two {
    transform: translate(173px , -41px);
    border-radius: 0 10px 0 0;
    background-color: white;
    color: var(--lightblue-clr);
}
.inner-card {
    background-color: #EEFBFF;
    border: 1px solid var(--lightblue-clr);
    height: max-content;
    border-radius: 0 10px 10px 10px ;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sticker {
    display: grid;
    place-items: center;
    background-color: white;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
}
.sticker > * {
    color: var(--darkblue-clr);
    background-color: var(--lightblue-clr);
    border: 1px solid var(--lightblue-clr);
}
.sticker button {
    color: white;
    border-radius: 10px;
}
.card-footer {
    width: 200%;
    background-color: var(--lightblue-clr);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:  0 0 5px 5px;
    margin-top: 15px;
}