/* sidebar stylings */
:root {
    --darkblue-clr : #081A51;
    --lightblue-clr: #017EFA;
}
* {
    margin: 0;
    padding: 0;
    color: white;
}
.sidebar {
    background-color: var(--darkblue-clr);
    position: fixed;
    width: 326px;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.sidebar > * {
    display: block;
}
.logo-comp {
    height: 50px;
    width: 45%;
    left: 0;
    margin-top: 20px;
    padding-left: 2.5em;
    color: var(--darkblue-clr);
    background-color: white;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: large;
}
.main-p {
    color: var(--lightblue-clr);
    font-size: small;
    padding-left: 3em;
}
.logo-icon {
    color: var(--darkblue-clr);
    font-size: larger;
}
.logo-comp-p {
    color: var(--darkblue-clr);
    font-size: 1.2em;
    font-weight: bold;
}
.list-item {
    height: 50px;
    padding-left: 3em;
    
}
.help-card {
    background-color: #1B2B65;
    display: flex;
    color: lightblue;
    position: absolute;
    border-radius: 20px;
    left: 25px;
    bottom: 25px;
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.help-card > * {
    position: absolute;
}
.help-icon {
    background-color: var(--lightblue-clr);
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border:  solid lightblue 7px;
    top: -20px;
    text-align: center;
}
.help-card p {
    transform: translateY(-15px);
    color: white;
}
.help-button {
    width: 80%;
    height: 50px;
    background-color: var(--lightblue-clr);
    border-radius: 10px;
    border-style: none;
    bottom: 10%;
}
.close-sidebar {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 40px;
    border: solid 1px grey;
    position: absolute;
    right: -20px;
    top: 25px;
}
button .bi-arrow-left-short {
    color: var(--lightblue-clr);
    font-size: 1.8em;
}
.bi-i {
    font-size: 1.2em;
    margin-right: 0.5em;
}