@import './styles/sidebar.css';
.App {
    background-color: #F8F9FF;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: calc(326px + 3%);
    padding-right: 20px;
}